.search-down{
    position: absolute;
    width: 22rem;
    max-height: 500px;
    top: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto;
}